.git
.github
.idea
.vscode
.DS_Store

**/target
!application-engine/target
!application-engine/target/app-exec.jar

docs
log
storage
error
success

**/*.log
**/*.tmp
**/*.swp
**/.project
**/.settings
