target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Work folder ###
_issues/

storage/
rules/
!/src/main/java/com/netgrif/workflow/rules/
*.log*!/src/main/java/com/netgrif/workflow/rules/domain/StoredRuleRepository.java
