<html>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
    <tr>
        <td align="left">
            <img src="http://www.fmservis.sk/img/logo.jpg">
        </td>
    </tr>
    <tr>
        <td height="11" bgcolor="#98002b">
        </td>
        <!--test-->
    </tr>
    <tr>
        <td>
            <br> Welcome to FM workflow service.
            <br>
            <br> You received this message as this email address was given by administrator during registration at www.fmservis.sk
            <br> If your administrator didn't register you and you received this message by mistake, please ignore it an delete it.
            <br> To proceed with registration please copy registration code a click on Sign up button. You will be redirected to site with registration form.
            <br>
            <br>
        </td>
    </tr>
    <tr>
        <td align=center>
            <span style=" background:#BDBDBD; color:#98002b; font-size:30px">${token}</span>
        </td>
    </tr>
    <tr>
        <td>
            <br> Registration mail is valid for 3 days.(until....)
        </td>
    </tr>
    <tr height="11">
        <br>
        <br>
    </tr>
    <tr>
        <td align="center">
            <!--           147.175.98.23/login/signup-->

            <a href="http://localhost:8080/login/signup/${token}" style="
      margin:10px;
      background: #98002b;
     box-shadow: 2px 2px 10px #888888;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 8px;
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;">

                SIGN UP</a>
        </td>
    </tr>
    <tr height="11">
        <br>
        <br>
        <br>
        <br>
        <br>
    </tr>
    <tr>
        <td>
            This is automated message. Please do not reply to it. For more information please contact your local administrator or our support at www.fmservis.sk
            <br>
            <br>
        </td>
    </tr>
    <tr bgcolor="#E0E0E0">
        <td>
            F.M. Servis, s.r.o.
            <br> Pod Rovnicami 65, 841 04 Bratislava
            <br> Phone: 00421 (2) 888 55 554
            <br> Fax: 00421 (2) 888 55 556
            <br> Email: fmservis@fmservis.sk
        </td>
    </tr>


</table>
</body>
</html>




<!--<html>-->
<!--<body>-->
<!--<div>-->
<!--Registration <b>mail</b><br>-->
<!--Your token is <br>-->
<!--<i>${token}</i>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->