<html>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
    <tr>
        <td align="left">
            <img src="http://www.fmservis.sk/img/logo.jpg">
        </td>
    </tr>
    <tr>
        <td height="11" bgcolor="#98002b">
        </td>
        <!--test-->
    </tr>
    <tr>
        <td>
            <br> <a>Welcome to FM workflow service.</a>
            <br>
            <br> <a>You received this message as this email address was given by administrator during registration at
            www.fmservis.sk</a>
            <br> <a>If your administrator didn't register you and you received this message by mistake, please ignore it
            an delete it.</a>
            <br> <a>To proceed with registration please click on Sign up button. You will be redirected to site with
            registration form.</a>
            <br> <a>Registration mail is valid for 3 days.(until ${date})</a>
        </td>
    </tr>


    <tr>
        <td align="center">
            <!--           147.175.98.23/login/signup-->
            <br>
            <a href="http://localhost:8080/login/signup/${token}" style="
line-height: 36px;
background: #98002b;
box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0, 0, 0, 0.23);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3px;
border: 0px;
font-family: Arial;
letter-spacing: 0.14px;
font-weight: bold;
color: #ffffff;
font-size: 14px;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
padding-bottom: 11px;
padding-top: 11px;">

                SIGN UP</a>
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <a>This is automated message. Please do not reply to it. For more information please contact your local
                administrator or our support at www.fmservis.sk</a>
            <br>
            <br>
        </td>
    </tr>
    <tr bgcolor="#E0E0E0">
        <td>
            <a style="color:#98002b">F.M. Servis, s.r.o.</a>
            <br> <a>Pod Rovnicami 65, 841 04 Bratislava</a>
            <br> <a>Phone: 00421 (2) 888 55 554</a>
            <br> <a>Fax: 00421 (2) 888 55 556</a>
            <br> <a>Email: fmservis@fmservis.sk</a>
        </td>
    </tr>


</table>
</body>
</html>

